:root {
  --animation-duration: 4s;
  --animation-delay: 2s;
  --animation-slide-duration: 12s;
  --transition-duration: 0.3s;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  --box-width-height: 60px;
  --animation-transition-background-color: darkgoldenrod;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  width: 90%;
  height: 90%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 15% auto;
  padding: 15% auto;
  animation-name: backgroundCarousel;
  animation-duration: var(--animation-slide-duration);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: var(--animation-delay);
  transition: background-color var(--animation-transition-background-color);
  
}
img[src$=".png"],
img[src$=".jpg"],
img[src$=".jpeg"],
img[src$=".gif"] {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block; /* Remove the gap under the image */
}
.box {
  position: absolute;
  padding-top: 2%;
  animation-name: onlineAnimation;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transition: all var(--transition-duration) ease;
  z-index: 1;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  opacity: 0.7;
}

.box::before,
.box::after {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top:20px;
}

.box::before {
  left: 10px;
}

.box::after {
  right: 10px;
}

.heading {
  font-size: 36px;
  width: var(--box-width-height);
  margin-top: 2%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  cursor: grab;
  color: #fff;
}
.heading-letter {
  display: inline-block;
  font-size: 36px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0%;
  transition: all var(--transition-duration) ease;
}
.heading-letter:hover {
  transform: scale(1.4);
  animation-name: offlineAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding:3%;
}

.heading-animation {
  width: auto;
  height: 50%
  animation-name: offlineAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 5% auto;
  position: relative;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.heading-animation:hover {
  border: 3% solid;
  border-radius: 28%;
}

@keyframes backgroundCarousel {
  0% { background-image: url('./images/bg1.jpg');}
  33% { background-image: url('./images/bg2.jpg');}
  66% { background-image: url('./images/bg3.png');}
  100% { background-image: url('./images/bg1.jpg');}
}
@keyframes onlineAnimation {
  0% {
    background-color: blueviolet;
    transform: scale(0);
  }
  100% {
    background-color: lawngreen;
    transform: scale(1.3);
  }
}

@keyframes offlineAnimation {
  0% {
    background-color: blueviolet;
  }
  25% {
    background-color: lightseagreen;
  }
  50% {
    background-color: darkblue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: darkviolet;
  }
}

.main {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
}
main:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.header h1,
.main h2 {
  margin: 0;
}

.header h1 {
  font-size: 24px;
}

.main p {
  margin: 10px 0;
}
.footer {
  z-index: 1;
  text-align: center;
  font-size: 12px;
}
.footer p {
  font-size: 12px;
}

ul {
  padding: 3%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
  top: -5%;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 2%;
  margin: 2%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ul:hover {
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
li {
  margin: 10px auto;
  padding: 5px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}
li:hover {
  transform: scale(1.4);
  margin: 15px auto;
  border: 3% solid;
  border-radius: 5%;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  font-size: 18px;
}


button {
  font-family: inherit;
  background: #007aff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 10px 0;
}
button:hover {
  background-color: #005ecb;
  transition: background-color 0.4s ease;
}
button:active {
  transform: scale(1.1);
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
button:focus {
  box-shadow: 0px 0px 5px 5px #f5f5f5;
}
button.button {
  font-size: 14px;
  font-weight: bold;
}
#actionButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1;
}

#actionButton:hover {
  background-color: darkblue;
}
input[type="email"]{
  font-family: inherit;
  width: 300px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}